
    /* 
    ---------------------------------------------
    font & reset css
    --------------------------------------------- 
    */
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

    /* 
    ---------------------------------------------
    reset
    --------------------------------------------- 
    */
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    div pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    font,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    figure,
    header,
    nav,
    section,
    article,
    aside,
    footer,
    figcaption {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
    }

    .clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    .clearfix {
        display: inline-block;
    }

    html[xmlns] .clearfix {
        display: block;
    }

    * html .clearfix {
        height: 1%;
    }

    ul,
    li {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    header,
    nav,
    section,
    article,
    aside,
    footer,
    hgroup {
        display: block;
    }

    * {
        box-sizing: border-box;
    }

    html,
    body {
        font-family: 'Poppins', sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    a {
        text-decoration: none !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #1e1e1e;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: 700;
    }

    ul {
        margin-bottom: 0px;
    }

    p {
        font-size: 14px;
        line-height: 28px;
        color: #4a4a4a;
    }

    img {
        width: 100%;
        overflow: hidden;
    }

    /* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/ 
    html,
    body {
        font-family: 'Poppins', sans-serif;
    }

    ::selection {
        background: #0071f8;
        color: #fff;
    }

    ::-moz-selection {
        background: #0071f8;
        color: #fff;
    }

    .section {
        margin-top: 120px;
    }

    .section-heading {
        margin-bottom: 70px;
    }

    .section-heading h2 {
        font-size: 40px;
        font-weight: 700;
        text-transform: capitalize;
        margin-top: 20px;
        line-height: 56px;
    }

    .section-heading h2 em {
        font-style: normal;
        color: #0071f8;
    }

    .section-heading h6 {
        color: #ee626b;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .icon-button a {
        display: inline-block;
        background-color: #1e1e1e;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        height: 50px;
        line-height: 50px;
        padding: 0px 30px 0px 0px;
        border-radius: 25px;
        transition: all .3s;
    }

    .icon-button a i {
        background-color: #f35525;
        height: 50px;
        width: 50px;
        text-align: center;
        border-radius: 50%;
        line-height: 50px;
        display: inline-block;
        margin-right: 15px;
        margin-left: -1px;
    }

    .icon-button a:hover {
        color: #f35525;
    }

    .icon-button a:hover i {
        color: #fff;
    }

    .main-button a {
        display: inline-block;
        background-color: #1e1e1e;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        height: 40px;
        line-height: 40px;
        padding: 0px 30px;
        border-radius: 25px;
        transition: all .3s;
    }

    .main-button a:hover {
        background-color: #0d6efd;
        color: #fff;
    }

    /* 
---------------------------------------------
card Style
--------------------------------------------- 
*/

    .card .item {
        background-color: #fafafa;
        border-radius: 10px;
        padding: 30px;
        margin-bottom: 30px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .card .item img {
        border-radius: 10px;
        transform: scale(1);
        transition: all 0.2s ease-in;
    }

    .card .item img:hover {
        transform: scale(1.1);
        transition: all 0.2s ease-in;
    }

    .card .item span.category {
        background-color: #fbd9cf;
        font-weight: 500;
        border-radius: 5px;
        font-size: 14px;
        color: #1e1e1e;
        padding: 5px 12px;
        display: inline-block;
        margin-top: 25px;
        transition: all 0.5s ease-out;
    }

    .card .item h4 {
        font-size: 19px;
        margin: 25px 0px;
    }

    .card .item h4 a {
        color: #1e1e1e;
    }

    .card .item ul li {
        display: inline-block;
        font-size: 15px;
        color: #4a4a4a;
        margin-right: 20px;
    }

    .card .item ul li span {
        font-weight: 600;
        color: #1e1e1e;
    }

    .card .item ul {
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    .card {
        width: 100%;
        border: none;
        box-shadow: none;
        padding: 2rem;
    }

    .card .item h6 {
        font-size: 20px;
        color: #0d6efd !important;
        margin-top: 6px;
        display: inline-block;
        float: right;
        margin-top: 16px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        transition: all 0.2s ease-out;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .card .item h6:hover {
        transform: scale(1.2);
        background: #0d6efd !important;
        color: white !important;
        transition: all 0.5s ease-out;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }

    .card .item .main-button {
        text-align: center;
        margin-bottom: 40px;
    }

    /* 
---------------------------------------------
Responsive Style
--------------------------------------------- 
*/

    body {
        overflow-x: hidden;
    }

    @media (max-width: 767px) {
        .card ul.card-filter li a {
            font-size: 14px;
            padding: 10px 15px;
        }

        .card ul.card-filter li {
            margin: 5px;
        }
    }

    @media (max-width: 992px) {
        .card .item h6 {
            text-align: center;
            margin-bottom: 15px;
        }

        .card .item .main-button {
            text-align: center;
        }

        .card .item ul li {
            margin-right: 10px;
            font-size: 13px;
        }
    }




    